@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-family: "Quicksand", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20vh 10vw 10vh;
}
